.role-buttons {
  text-align: center;
  margin: 20px;
}

.role-buttons button {
  margin: 5px;
  width: 150px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{width:400px;
     margin:20px auto;}
.role-buttons{
  margin-top:15px
}
button {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}
