.role-buttons {
  text-align: center;
  margin: 20px;
}

.role-buttons button {
  margin: 5px;
  width: 150px;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{width:400px;
     margin:20px auto;}
.role-buttons{
  margin-top:15px
}
