* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Segoe UI, sans-serif;
  background: #f0fdf4;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #555;
}

.switch-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px 0;
}

.switch-buttons button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

img {
  display: none;
  width: 120px;
  margin-top: 10px;
  border-radius: 10px;
}

li {
  background: #ecfdf5;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}
