body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #f9f9f9, #e6f7ff);
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.switch-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.switch-buttons button {
  background: #2ecc71;
  border: none;
  color: white;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.switch-buttons button:hover {
  background: #27ae60;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  border-left: 6px solid #2ecc71;
  border-radius: 14px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}


img {
  border-radius: 10px;
  margin-top: 8px;
}

.header {
  background: #2ecc71;
  padding: 20px;
  text-align: center;
  color: white;
  border-radius: 0 0 25px 25px;
}

.header h1 {
  margin: 0;
  color: white;
}
#alertBox {
  border-radius: 12px;
  animation: slideDown 0.4s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

